Repository barrett370/Intelligent-Robotics, changes with the labels that .github/labeler.yml gives for each.
All labels: DOCUMENTATION, TEST, ROS, CI, DEPENDENCIES

slight refactor
  speech/__init__.py
  speech/gspeech_live.py
  speech/instructions.py
  speech/utils.py
Labels: none

tweaking ci config for pyaudio
  .circleci/config.yml
  Pipfile.lock
  speech/instructions.py
Labels: CI, DEPENDENCIES

updated coordinate system
  Pipfile
  Pipfile.lock
  landmarks/landmark/landmark.py
  maps/map.png
  maps/map3.yaml
  maps/map5.pgm
  webInterface/server/app.py
  webInterface/server/currentPose.py
  webInterface/server/static/img/map.png
  webInterface/server/static/img/map4.pgm
  webInterface/server/static/index.html
Labels: DEPENDENCIES

fixed update pos
  webInterface/server/static/index.html
Labels: none

parsing API response, text-to-speech confirmations
  Pipfile
  Pipfile.lock
  speech/gen-speech-snippets.py
  speech/gspeech_live.py
  speech/instructions.py
  speech/text-to-speech-test.py
  speech/utils.py
  speech/welcome.mp3
Labels: DEPENDENCIES

remove unnecessary test file
  speech/instructions.py
  speech/text-to-speech-test.py
Labels: none

added text-to-speech API with /say endpoint
  speech/instructions.py
  speech/text-to-speech/__init__.py
  speech/text-to-speech/server/t2sp_server.py
Labels: none

added Makefile target for recreating speech snippets
  Makefile
Labels: none

started digitising diagram
  REPORT.md
Labels: none

face recognition on images
  Pipfile
  vision/encode_faces.py
  vision/encodings.pickle
  vision/examples/example1.jpg
  vision/examples/example11.jpg
  vision/examples/example2.jpg
  vision/examples/example3.jpg
  vision/examples/example4.jpg
  vision/examples/example5.jpg
  vision/examples/example6.jpg
  vision/examples/example7.jpg
  vision/examples/example8.jpg
  vision/examples/example9.jpg
  vision/recognize_faces_image.py
Labels: DEPENDENCIES

created launch script, issues with imports pycharm vs pipenv terminal
  launch
  speech/gspeech.py
  speech/speech_to_text/__init__.py
  speech/speech_to_text/gspeech_live.py
  speech/speech_to_text/instructions.py
  speech/speech_to_text/record.py
  speech/speech_to_text/transcribe.py
  speech/speech_to_text/utils.py
  speech/text_to_speech/__init__.py
  speech/text_to_speech/gen-speech-snippets.py
  speech/text_to_speech/server/t2sp_server.py
  speech/welcome.mp3
  src/foo/__init__.py
  src/foo/main.py
  src/foo/tests/__init__.py
  src/foo/tests/test_main.py.dep
  src/ros/__init__.py
  src/ros/test-ros/main.py
Labels: TEST

Face recognition using webcam input
  Pipfile
  Pipfile.lock
  vision/--output
  vision/recognize_faces_video.py
Labels: DEPENDENCIES

minor tweaks
  speech/speech_to_text/instructions.py
  speech/text_to_speech/gen-speech-snippets.py
  speech/text_to_speech/server/t2sp_server.py
Labels: none

verbal instruction parsing & response (#37)
  .circleci/config.yml
  .gitignore
  Makefile
  Pipfile
  Pipfile.lock
  REPORT.md
  landmarks/Pipfile.lock
  landmarks/landmark/currentPose.py
  landmarks/landmark/landmark.py
  launch
  maps/map.png
  maps/map3.yaml
  maps/map5.pgm
  speech/README.md
  speech/__init__.py
  speech/resources/test.flac
  speech/speech_to_text/__init__.py
  speech/speech_to_text/gspeech_live.py
  speech/speech_to_text/instructions.py
  speech/speech_to_text/record.py
  speech/speech_to_text/transcribe.py
  speech/speech_to_text/utils.py
  speech/text_to_speech/__init__.py
  speech/text_to_speech/gen-speech-snippets.py
  speech/text_to_speech/server/t2sp_server.py
  src/__init__.py
  src/foo/__init__.py
  src/foo/main.py
  src/foo/tests/__init__.py
  src/foo/tests/test_main.py.dep
  src/ros/__init__.py
  src/ros/test-ros/main.py
  webInterface/server/README.md
  webInterface/server/__init__.py
  webInterface/server/app.py
  webInterface/server/currentPose.py
  webInterface/server/static/img/map.png
  webInterface/server/static/img/map4.pgm
  webInterface/server/static/index.html
Labels: TEST, CI, DEPENDENCIES

re-encoded face dataset
  vision/encodings.pickle
Labels: none

Delete pyre.stderr
  vision/.pyre/pyre.stderr
Labels: none

recompiled encodings.pickle
  Pipfile.lock
  vision/encodings.pickle
Labels: DEPENDENCIES

created catkin pkg
  catkinws/src/guide_robot/CMakeLists.txt
  catkinws/src/guide_robot/package.xml
  catkinws/src/guide_robot/src/find_user.py
Labels: ROS

working on robot motion
  catkinws/auto_motion/CMakeLists.txt
  catkinws/auto_motion/package.xml
  catkinws/auto_motion/wall.py
  catkinws/src/guide_robot/src/find_user.py
Labels: ROS

recompiled encodings.pickle (#39)
  Pipfile.lock
  catkinws/src/guide_robot/CMakeLists.txt
  catkinws/src/guide_robot/package.xml
  catkinws/src/guide_robot/src/find_user.py
  vision/encodings.pickle
Labels: ROS, DEPENDENCIES

Move packages out of sub catkin work space
  CMakeLists.txt
  auto_motion/CMakeLists.txt
  auto_motion/auto
  auto_motion/constants.py
  auto_motion/laser.py
  auto_motion/lasergrah.py
  auto_motion/lasergraph2.py
  auto_motion/package.xml
  auto_motion/sensor_response.py
  auto_motion/sonar.py
  auto_motion/utils.py
  catkinws/.catkin_workspace
  catkinws/auto_motion/wall.py
  catkinws/src/CMakeLists.txt
  package.xml
Labels: ROS

'FIX' Pipfile
  Pipfile
  Pipfile.lock
Labels: DEPENDENCIES

Rename launch script
  launch.sh
Labels: none

Add launch scripts for running nav stack
  config/rviz.rviz
  launch/amcl.launch
  launch/howard.launch
  launch/launch-tmp/amcl.launch
  launch/launch-tmp/howard.launch
  launch/launch-tmp/move_base.launch
  launch/launch-tmp/nav_config.launch
  launch/launch-tmp/navigation_config.rviz
  launch/launch-tmp/rviz.launch
  launch/launch-tmp/rviz.rviz
  launch/move_base.launch
  launch/nav_config.launch
  launch/navigation_config.rviz
  launch/rviz.launch
  launch/rviz.rviz
  maps/LG-MAP-cleaned.yaml
  navigation/base_local_planner_params.yaml
  navigation/costmap_common_params.yaml
  navigation/global_costmap_params.yaml
  navigation/local_costmap_params.yaml
  scripts/delay_launch.sh
Labels: none

Follow up on previous refactoring
  pf_localisation/CMakeLists.txt
  pf_localisation/README.md
  pf_localisation/package.xml
  pf_localisation/scripts/node.py
  pf_localisation/setup.py
  pf_localisation/src/laser_trace/compile.sh
  pf_localisation/src/laser_trace/laser_trace.cpp
  pf_localisation/src/pf_localisation/__init__.py
  pf_localisation/src/pf_localisation/laser_trace.so
  pf_localisation/src/pf_localisation/pf.py
  pf_localisation/src/pf_localisation/pf_base.py
  pf_localisation/src/pf_localisation/sensor_model.py
  pf_localisation/src/pf_localisation/util.py
Labels: none

messing with frame proportions for facial detection
  speech/recordedFile.wav
  vision/recognize_faces_video.py
Labels: none

Python 3.6 -> 3.7
  Pipfile
Labels: DEPENDENCIES

Remove temp dir
  launch/launch-tmp/amcl.launch
  launch/launch-tmp/howard.launch
  launch/launch-tmp/move_base.launch
  launch/launch-tmp/nav_config.launch
  launch/launch-tmp/navigation_config.rviz
  launch/launch-tmp/rviz.launch
  launch/launch-tmp/rviz.rviz
Labels: none

Add sim scripts
  launch/amcl.launch
  launch/nav_config.launch
  launch/sim.launch
  map/CS_LG.pgm
  map/CS_LG.png
  map/CS_LG.world
  map/CS_LG.yaml
  scripts/run_landmarks.sh
  scripts/run_web.sh
Labels: none

Other things...
  Pipfile
  landmarks/landmark/landmark.py
  webInterface/server/app.py
  webInterface/server/currentPose.py
  webInterface/server/static/img/CS_LG.png
  webInterface/server/static/index.html
Labels: DEPENDENCIES

made seeker.py
  vision/seeker.py
Labels: none

added publisher details for seeker
  vision/seeker.py
Labels: none

backpedalled changes to frame proportions in recog_face_vid
  vision/recognize_faces_video.py
Labels: none

added args for facial recog
  vision/seeker.py
Labels: none

added turning loop
  vision/seeker.py
Labels: none

Add launch sim
  launch/sim.launch
Labels: none

Add map directory
  map/CS_LG.pgm
  map/CS_LG.png
  map/CS_LG.world
  map/CS_LG.yaml
Labels: none

working endpoint
  landmarks/landmark/landmark.py
Labels: none

commented recog code and adding flags to search loop
  vision/seeker.py
Labels: none

you spin me round round baby
  vision/seeker.py
Labels: none

.github/labeler.yml:

DOCUMENTATION:
    - SETUP.md
    - catkinws/**/*.md

TEST:
    - catkinws/**/tests/*.py
    - src/**/tests/*.py

ROS:
    - catkinws/src/**/*
    - catkinws/src/*

CI:
    - .circleci/*
    - .github/*

DEPENDENCIES:
    - Pipfile
    - Pipfile.lock
