Repository barrett370/Intelligent-Robotics, changes with the labels that .github/labeler.yml gives for each.
All labels: DOCUMENTATION, TEST, ROS, CI, DEPENDENCIES

The magic of motion (#28)
  Pipfile
  Pipfile.lock
  catkin/src/scripts/ros/motion.py
  catkinws/src/auto_motion/auto
  catkinws/src/auto_motion/constants.py
  catkinws/src/auto_motion/laser.py
  catkinws/src/auto_motion/lasergrah.py
  catkinws/src/auto_motion/lasergraph2.py
  catkinws/src/auto_motion/package.xml
  catkinws/src/auto_motion/sensor_response.py
  catkinws/src/auto_motion/sonar.py
  catkinws/src/auto_motion/utils.py
  howard-debug/touchOurBoy.md
  maps/LG-MAP-even-more-cleaned.png
  maps/map3.world
  maps/map4.pgm
Labels: ROS, DEPENDENCIES

tweak values
  catkinws/src/pf_localisation/src/pf_localisation/pf.py
Labels: ROS

Howard finds himself (#29)
  Pipfile
  Pipfile.lock
  catkin/src/laser_trace/compile.sh
  catkin/src/laser_trace/laser_trace.cpp
  catkin/src/pf_localisation/README.md
  catkin/src/pf_localisation/__init__.py
  catkin/src/pf_localisation/pf.py
  catkin/src/pf_localisation/pf_base.py
  catkin/src/pf_localisation/sensor_model.py
  catkin/src/pf_localisation/setup.py
  catkin/src/pf_localisation/util.py
  catkin/src/scripts/node.py
  catkinws/src/auto_motion/CMakeLists.txt
  catkinws/src/pf_localisation/scripts/node.py
  catkinws/src/pf_localisation/src/pf_localisation/pf.py
  catkinws/src/pf_localisation/src/pf_localisation/pf_base.py
  catkinws/src/pf_localisation/src/pf_localisation/sensor_model.py
Labels: ROS, DEPENDENCIES

Bring down range checked
  catkinws/src/auto_motion/auto
  catkinws/src/auto_motion/constants.py
Labels: ROS

Changes made from laptop (#30)
  catkinws/src/auto_motion/auto
  catkinws/src/auto_motion/constants.py
  map.yaml
  maps/map3.yaml
Labels: ROS

Add changes made from robot laptop
  catkinws/src/auto_motion/auto
  catkinws/src/auto_motion/constants.py
  map.yaml
  maps/map3.yaml
Labels: ROS

Add initial flask server
  landmarks/Pipfile
  landmarks/Pipfile.lock
  landmarks/landmark/__init__.py
  landmarks/landmark/landmark.py
Labels: none

added landmark api
  catkinws/src/py3/CMakeLists.txt
  catkinws/src/py3/package.xml
  catkinws/src/py3/scripts/talker.py
  landmarks/landmark/README.md
  landmarks/landmark/currentPose.py
  landmarks/landmark/landmark.py
Labels: ROS

updated docs
  landmarks/landmark/README.md
Labels: none

added support for when ros isnt running
  landmarks/landmark/landmark.py
Labels: none

Add record and transcribe scripts
  speech/Pipfile
  speech/Pipfile.lock
  speech/README.md
  speech/record.py
  speech/transcribe.py
Labels: none

basic facial detection class
  Pipfile.lock
  vision/Pipfile
  vision/Pipfile.lock
  vision/src/__init__.py
  vision/src/copy.py
  vision/src/face_detection.py
  vision/src/haarcascade_frontalface_default.xml
  vision/tests/__init__.py
  vision/tests/recog_test.py
Labels: DEPENDENCIES

add method for counting faces
  Pipfile
  vision/src/copy.py
  vision/src/face_detection.py
  vision/tests/recog_test.py
Labels: DEPENDENCIES

Init
  webInterface/server/README.md
  webInterface/server/__init__.py
  webInterface/server/app.py
  webInterface/server/static/img/map.png
  webInterface/server/static/index.html
Labels: none

updated readme
  webInterface/server/README.md
Labels: none

added healthcheck
  landmarks/landmark/README.md
Labels: none

added healthcheck
  landmarks/landmark/landmark.py
Labels: none

Remove python 3 test scripts
  catkinws/src/py3/CMakeLists.txt
  catkinws/src/py3/package.xml
  catkinws/src/py3/scripts/talker.py
Labels: ROS

fix argument spaces
  landmarks/landmark/currentPose.py
Labels: none

Migrate to top level pipenv
  Pipfile
  landmarks/Pipfile
  landmarks/Pipfile.lock
Labels: DEPENDENCIES

Landmarks (#31)
  Pipfile
  landmarks/landmark/README.md
  landmarks/landmark/__init__.py
  landmarks/landmark/currentPose.py
  landmarks/landmark/landmark.py
Labels: DEPENDENCIES

Intergrated Landmarks Server
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

Rebased onto master
  catkinws/src/py3/CMakeLists.txt
  catkinws/src/py3/package.xml
  catkinws/src/py3/scripts/talker.py
  landmarks/Pipfile
Labels: ROS

working on CI tests
  .circleci/.config.yml.swp
  .circleci/config.yml
  .pyre_configuration
  Makefile
  Pipfile
  Pipfile.lock
  catkin/src/scripts/ros/motion.py
  debug-scripts/laser_debug.sh
  debug-scripts/robot_debug.sh
  howard-debug/laser_debug.sh
  howard-debug/robot_debug.sh
  map.yaml
  vision/.pyre/pyre.stderr
  vision/Pipfile
  vision/Pipfile.lock
  vision/__init__.py
  vision/face_detection.py
  vision/haarcascade_frontalface_default.xml
  vision/human_tests/__init__.py
  vision/human_tests/recog_test.py
  vision/src/__init__.py
  vision/src/face_detection.py
  vision/src/haarcascade_frontalface_default.xml
  vision/tests/recog_test.py
Labels: CI, DEPENDENCIES

Added Keyboard Movement
  webInterface/server/app.py
  webInterface/server/static/img/map.png
  webInterface/server/static/index.html
Labels: none

tweaks
  .circleci/config.yml
  .pyre_configuration
  vision/human_tests/recog_test.py
Labels: CI

add placeholder unit test
  vision/tests/test_placeholder.py
Labels: none

Delete .config.yml.swp
  .circleci/.config.yml.swp
Labels: CI

Added Early Setting Landmarks
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

Merge in master
  landmarks/landmark/README.md
  landmarks/landmark/__init__.py
  landmarks/landmark/currentPose.py
  landmarks/landmark/landmark.py
Labels: none

fix ci tests after merge
  .circleci/config.yml
  landmarks/landmark/currentPose.py
  src/__init__.py
  src/foo/__init__.py
  src/foo/main.py
  src/foo/tests/__init__.py
  src/foo/tests/test_main.py.dep
  src/ros/__init__.py
  src/ros/test-ros/main.py
Labels: TEST, CI

add placeholder behave test
  src/__init__.py
  src/foo/__init__.py
  src/foo/main.py
  src/foo/tests/__init__.py
  src/foo/tests/test_main.py.dep
  src/ros/__init__.py
  src/ros/test-ros/main.py
Labels: TEST

Added Draggable
  landmarks/landmark/landmark.py
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

Docs
  landmarks/landmark/landmark.py
  webInterface/server/README.md
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

added status
  landmarks/landmark/landmark.py
  webInterface/server/README.md
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

Updated Cross Origin for support with local tunnel
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

Fixed Lanmark status
  webInterface/server/app.py
  webInterface/server/static/index.html
Labels: none

Added drop down menu
  webInterface/server/static/index.html
Labels: none

Added Speach Input
  webInterface/server/static/index.html
Labels: none

working speech-to-text streaming with basic instruction parsing
  .gitignore
  Pipfile
  Pipfile.lock
  speech/Pipfile
  speech/Pipfile.lock
  speech/gspeech-live.py
  speech/gspeech.py
  speech/record.py
  speech/resources/test.flac
Labels: DEPENDENCIES

.github/labeler.yml:

DOCUMENTATION:
    - SETUP.md
    - catkinws/**/*.md

TEST:
    - catkinws/**/tests/*.py
    - src/**/tests/*.py

ROS:
    - catkinws/src/**/*
    - catkinws/src/*

CI:
    - .circleci/*
    - .github/*

DEPENDENCIES:
    - Pipfile
    - Pipfile.lock
